bin/
obj/

.vs/
.vscode/
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide

*.ncrunchsolution
*.ncrunchproject
*.localhistory/
*.recommenders

*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.dbmdl
*.log
*.tlog

*.nupkg
*.snupkg
.nuget/packages/
.nuget/NuGet.Config
.nuget/NuGet.exe
.nuget/packages.lock.json

AppPackages/
project.lock.json
project.fragment.lock.json
artifacts/

publish/

*_i.c
*_p.c
*.ilk
*.meta
*.tmp
*.tmp_proj
*.log
*.svclog
*.scc

.DS_Store
*.pdb
*.cache
*.ilk
*.ncb
*.res
*.aps
*.pch
*.opensdf
*.sdf
*.ipch
*.suo
*.sln.docstates
*.userprefs

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/